<h1>Movies Listed</h1>

<table>

    <% @movie.each do |mov| %>

    <tr>

        <td><%= mov.title %></td>
        <td><%= mov.description %></td>
        <td><%= mov.year_released %></td>
        
   	</tr>
    <% end %>

</table>
