<h1>Welcome to Magic 8 Ball</h1>

<h2></h2>

<p>Ask me a question by adding it to the end of the path and press the enter key for my wisdom!!!</p>

<p>Here are some sample questions:
  <ul>
  	<li>
  		<%= link_to "Should I go to work today?", ask_question_path('should-i-go-to-work-today') %>
  	</li>
  	<li>
  		<%= link_to "Should I eat KFC?", ask_question_path('should-i-eat-KFC?') %>
  	</li>
  </ul>

</p>

<%= link_to "Back to arcade", root_path %>